body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  font-size: x-large;
}

.logo-header {
  position: absolute;
  right: 20px;
  display: flex;
  gap: 10px;
}

.logo-header img {
  width: 80px;
  border-radius: 10%;
}

.container-lg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  max-width: 95%;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 10px; /* Add padding to avoid overflow issues */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.left-card {
  grid-row: 1 / 3;
  grid-column: 1;
  border-radius: 8px;
  padding: 15px;
  place-self: center;
  text-align: center;
  justify-content: center;
  align-self: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  height: auto;
}

.left-card-header,
.right-card-header {
  border-bottom: 1px solid #333;
  text-align: center;
  padding: 1px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.left-card-body {
  font-size: 1.25em;
  margin-top: 5px;
  height: fit-content;
}

.left-card-body img {
  max-width: 100%;
  border-radius: 8px;
}

.status-indicator-satellite {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  background-color: red;
  margin-left: 50px;
  margin-right: 50px;
  min-width: 150px;
  min-height: 50px;
}

.right-card-1 {
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  justify-content: center;
  align-self: flex-end; /* Adjust to top align */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  max-height: 100%;
  margin-top: 20px; /* Reduce margin-top */
}

.right-card-weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.code-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-info-left {
  margin-top: 20px;
  font-weight: bold;
  font-size: x-large;
  background-color: azure;
}

.weather-info-right {
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
  background-color: azure;
  margin-left: 20px;
  margin-right: 20px;
  font-size: x-large;
}

.azure-background-left {
  background-color: azure;
  width: 250px; /* You can adjust the width as needed */
  height: 50px; /* You can adjust the height as needed */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
  margin: 5px auto; /* Adjust margin for outer spacing */
}

.azure-background-right {
  background-color: azure;
  width: 150px; /* You can adjust the width as needed */
  height: 50px; /* You can adjust the height as needed */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
  margin: 5px auto; /* Adjust margin for outer spacing */
}

.weather-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 10px;
}

.weather-grid img {
  max-width: 60%;
}

.right-card {
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  height: auto;
}

.status-indicator-pump {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  background-color: azure;
  margin-left: 50px;
  margin-right: 50px;
  min-width: 150px;
  min-height: 50px;
  max-height: 80px;
}

.right-card:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}

.right-card:nth-child(3) {
  grid-row: 2;
  grid-column: 2;
}

.footer {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.9);
  font-size: x-large;
}

p {
  font-size: 1.5em;
}
